a {
color: orange;
}

a:visited {
    color: green;
}

a:hover {
    text-decoration: none;
    
}

.container::first-line {
    color: red;
}

tr:nth-child(even) {
    color: white;
    background: #333;
}

.container p:first-child {
    color: blue;
}


